* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
.main_header {
	background-color: #fff;
	height: 100%;
}

.navbar .navbar-brand {
	font-size: 26px;
	font-weight: 700;
	text-transform: capitalize;
	color: #dc4f72;
}

.navbar .nav-item .nav-link {
	transition: all 0.5s ease;
	padding: 14px 14px;
	font-size: 16px;
	font-weight: 400;
}

.search a i {
	color: #5a5a5a;
	font-size: 15px;
	opacity: 0.7;
	width: 40px;
	height: 40px;
	line-height: 38px;
	background: #f7f9fc;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #eee;
}

.btn {
	line-height: 52px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 30px;
	color: #dc4f72;
	border-color: #dc4f72;
}

.btn:hover {
	background-color: #dc4f72;
	cursor: pointer;
	color: #fff;
}

.product {
	margin-top: 40px;

	background: linear-gradient(to right, #ccc, rgba(255, 255, 255, 0.92)),
		url(../img/banner.jpg);

	position: relative;
	z-index: 1;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.row .col-6 h3 {
	font-size: 50px;
	line-height: 57.5px;
	color: #2c3038;
	font-weight: 700;
}

.row .col-6 p {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	max-width: 450px;
	color: #5a5a5a;
}

/* business */

.sub_title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #dc4f72;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.header_business {
	max-width: 750px;
}
.header_business h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.header_business p {
	margin-top: 20px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22.5px;
	font-weight: 400;
}

.business_item {
	border-radius: 6px;
	transition: 0.3s;
	background: #f7f9fc;
	padding: 3rem 2rem;
	border: 1px solid #f7f9fc;
}

.business_item h3 {
	color: #2c3038;
	font-size: 26px;
	line-height: 35px;
	font-weight: 700;
}

.business_item p {
	margin-top: 15px;
	font-size: 16px;
	line-height: 24.5px;
	color: #5a5a5a;
}

.business_item:hover {
	transition: 0.3s ease-in;
	background: #fff;
	border: 1px solid #f8f9fa;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
	transform: translateY(-0.5rem);
}
